body {
    margin: 0;
}

/* Sets padding on left & right side of entire webpage */
.header,
.below-header,
footer {
    padding-left: 100px;
    padding-right: 100px;
}

header, 
footer {
    background-color: #1F2937;
    color: white;
}

/* All header related css */ 
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
} .right-header {
    display: flex;
    gap: 10px;
} 
.below-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
}



